<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.santa.courseexercise">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".shopping.DetailsActivity" />
        <activity android:name=".orders.OrdersActivity" />
        <activity android:name=".setting.SettingActivity" />
        <activity android:name=".setting.accountsetting.AccountSetActivity" />
        <activity android:name=".setting.about.AboutActivity" />
        <activity android:name=".setting.accountsetting.adress.AdressListActivity" />
        <activity android:name=".setting.accountsetting.adress.AddAdressActivity" />
        <activity android:name=".setting.accountsetting.accountsafety.AccountSafetyActivity" />
        <activity android:name=".setting.accountsetting.accountsafety.PasswdManagerActivity" />
        <activity android:name=".shopping.PayActivity"></activity>
    </application>

</manifest>